.cardBox{
    position: relative;
    width: 400px;
    height: 400px;
    margin:20px 0;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgb(49, 49, 49);
}
.imgBox img{
    height: 400px;
    width: 400px;
}
.imgBox{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: #000;
    clip-path: circle(400px at center 100px);
    transition:all 0.5s;
    transition-delay: 0.5s;
}
.cardBox:hover .imgBox{
    clip-path: circle(80px at center 100px);
    transition-delay: 0s;
}
.cardBox:hover .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cardBox .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cardBox .content h2{
    margin: 0;
    padding: 0;
}
.cardBox .content a{
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 5px;
    display: inline-block;
}
.cardBox .content a,
.cardBox .content h2,
.cardBox .content{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px);
}
.cardBox:hover .content a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.9s;
}
.cardBox:hover .content h2{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.cardBox:hover .content{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.7s;
}