*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#pocetna1{
    height: 100vh;
    margin-top: 100px;
}
#sekcija{
    width:100%;
    height: 150vh;
    background: url("https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 25%;
    background-attachment: fixed;
    clip-path: circle(220vh at 50% -80vh);
}
#sekcija #sadrzaj{
    max-width: 1000px;
    text-align: center;
}
#sekcija #sadrzaj h1{
    font-size: 100px;
    font-weight: 700;
}