*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#pocetna1{
    height: 100vh;
    padding-top: 100px;
}