*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    display: flex;
    border:2px solid black;
    height: 100px;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
    width:30%;
    justify-content: space-evenly;
    height: 100%;
    margin-right: 0px;
}
li{
    display: flex;
    height:30px;
    z-index: 2;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 100px;
    justify-content: center;
}
a{
    text-decoration: none;
    color:black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.text{
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.icon{
    font-size: 30px;
    display: block;
    line-height: 65px;
    transition:all 0.5s;
}
.active .icon{
    color:#2196f3;
    transform: translateY(-10px);
    font-size: 50px;
} 
.text{
    position: absolute;
    background-color:#2196f3;
    color:#fff;
    padding:2px 7px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.5px;
    transition:all 0.5s;
    opacity: 0;
    transform:translateY(15px);
}
.active .text{
    opacity: 1;
    transform: translateY(30px);
}